body{
	
	margin: 0px;
	direction: rtl;
	    padding-bottom: 38px;
    background: #fff url("../img/header_bg.png") repeat-x center top;
        font-family: 'Arial (Hebrew)', Arial;
	
}
header{
	
	width: 100%;
	
    height: 109px;
}
.search{
	float: left;
	    margin: 3%;
}
.search #input{
	
	float:right;
}
.search a{
	    background-image: url("../img/search_button.png");
    background-repeat: no-repeat;
   
    float: left;
    height: 19px;
    width: 19px;
        background-position: 0 0;
    margin-top: 1px;
}
.english{
	    float: left;
   
    text-decoration: none;
    color: white;
       margin-top: 3%;
    font-size: 0.7em;
}

#container{
	width: 900px;
    margin: 0 auto;
        padding-bottom: 30px;
}


.logoImg{
	    float: right;
    margin-top: 3%;
    margin-right: 10%;
}


.menu li {
	float:right;
	margin-left: 2%;
}

.menu li a{
	text-decoration: none;
	color: white;
}



.menu{
		list-style-type: none;
		    position: absolute;
		    float: right;
       width: 564px;
    margin-right: 181px;
    margin-top: 75px;
    font-size: 0.7em;
}


.menuHomeLogo{
	background-image: url("../img/menu_home.png");
	background-position: 18px 15px;
    width: 18px;
    height: 15px;
}



/*center css*/
.webCenter{
	    width:100%;
    margin:0px auto;
    margin-top: 2%;
}
#services{
	
	background-image: url("../img/פזקר_-291_354410564000.jpg");
	height: 355px;
    background-repeat: no-repeat;
    width: 299px;

}

#refining{
	
background-image: url("../img/Picture-046410251500.jpg");	
height: 355px;
    background-repeat: no-repeat;
    width: 293px;
}
#trade{
	background-image: url("../img/1908364606615453350.JPG");	
height: 355px;
    background-repeat: no-repeat;
    width: 293px;
}
.center{
	
	float: left;
	
        margin-right: 0.5%;
}
.inText{
	background-image: url("../img/hp_tab_text_bg.png");
	  
  
       margin-top: 90%;
    background-size: cover;
    margin-right: 5%;
   
       border-bottom-right-radius: 10px;
       color: white;
           width: 84%;
               font-size: 0.6em;
}
.inText a{
	display: block;
	
    direction: ltr;
    color: white;
	
}
.inText h3{
     margin: 0.01%;
}

/*underCenter*/
.clear-fix
{
	overflow: hidden;
	clear:both;
}
.underCenter{
	    position: relative;
    float: right;
      width: 27.4%;
    padding: 0 2.8%;
    height: 216px;
    background: url("../img/small_cube_bg.png") ;
       background-repeat: no-repeat;
           padding-bottom: 5%;
}
 .smallCubs{
	    margin-top: 1.8%;
    color: #575757;
    
}
.smallCubs h3{
	font-size: 0.8em;
    margin-right: 2%;
}

#station img{
	float:left;
	    width: 26%;
}
#station ul{
	list-style-type: none;
}
#station a{
    font-size:  0.7em;
        color: #72716d;

}

#yellow a{
    float: left;
    margin-top: 10%;
        color: #72716d;
         font-size:0.7em;
}

#creditCard a{
	
	    margin-top: 10%;
    display: block;
    font-size: 0.7em;
    color: #72716d;
}
/*footer*/

footer{
	    width: 100%;
    height: 38px;
    position: fixed;
    bottom: 0px;
    background: url("../img/footer_bg.png") repeat-x 0 0;
}
.textFooter{
	
	width: 900px;
	height: 100%;
	margin:0 auto;
	 
}
.textFooter .picFoteer{
	
	    float: left;
    background: url("../img/white_logo.png") no-repeat 0 0;
    width: 135px;
    height: 18px;
}
 ul .facebook{
	
	    bottom: 2px;
    width: 18px;
    height: 18px;
    background: url("../img/fb_icon.png") no-repeat 0 0;
}

nav .footerMenu{
	list-style-type: none;
	color: white;
}
nav .footerMenu li{
	
	float: right;
	 margin-right: 0.4%;
	
}
nav .footerMenu li a{
	text-decoration: none;
	   font-size: 0.8em;
	  
	   color: white;
}
